@import url("https://fonts.googleapis.com/css2?family=Jacquard+12&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedan+SC&display=swap");
/*color variables*/
:root {
  --display-color1: #ff4191;
  --display-color2: #ff4191;
  --display-color3: #000000;
  --text-color1: #fff078;
}
/*all selectors*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif, Verdana;
}

body {
  background: #000000;
  overflow-x: hidden;
}
a {
  color: var(--text-color1);
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
button {
  color: var(--text-color1);
}

/*custom scrollbar*/
::-webkit-scrollbar {
  width: 0.5em;
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: var(--text-color1);
  border-radius: 15px;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background: #ff4191;
}

.sale-bar {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 35px;
  background: #e90074;
  padding-top: 5px;
  text-align: center;
  color: var(--text-color1);
}

/*for the navbar at the top of the page*/
.logo {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 20%;
  margin-right: 10%;
}
.logo:hover {
  transform: scale(105%);
  transition: 0.3s;
}
.nav-bar {
  z-index: 9;
  position: fixed;
  display: flex;
  width: 100%;
  height: 13%;
  margin: 13px;
  margin-left: 0;
  background: #000000;
  padding: 10px;
  gap: 37px;
  justify-content: flex-start;
  align-items: center;
}
.link {
  transition: 0.7s;
}
.link:hover {
  border-bottom: 1px solid var(--text-color1);
  transition: 0.7s;
}

/*styling for the first display on the website*/
.display1 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(
    45deg,
    var(--display-color1),
    var(--display-color2)
  );
}
.display-heading {
  display: flex;
  padding: 30px;
  flex-direction: column;
  letter-spacing: 2.3px;
  margin-left: 15%;
  float: left;
}

.display-content img {
  width: 100%;
  max-width: 1500px;
  min-width: 1000px;
  margin-left: 10%;
}
.head-word {
  color: var(--text-color1);
}
.shop-button {
  margin-top: 140px;
  padding: 5px;
  border: 1px solid var(--text-color1);
  border-radius: 10px;
  background-color: transparent;
  font-weight: 700;
  cursor: pointer;
  transition: 0.7s;
}
.shop-button:hover {
  background-color: #000000;
  transform: scale(105%);
  border: none;
  margin-bottom: -10px;
  transition: 0.7s;
}

/*styling for the second display on the website*/
.display2-header {
  color: var(--text-color1);
  padding: 10px;
  margin-bottom: 28px;
  text-align: center;
}
.display2 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 550px;
  color: var(--text-color1);
  text-align: center;
  padding: 10px;
}
.bottle-box {
  width: 100%;
  height: 350px;
  max-width: 400px;
  background: var(--display-color1);
  cursor: pointer;
  border-radius: 15px;
  transition: 0.4s;
}
.bottle-box:hover {
  background: url(assets/imgs/logo.png);
  transform: scale(107%);
  border: 1px solid var(--text-color1);
  border-radius: 1px;
  transition: 0.4s;
}
.brand-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 125px;
  width: 100%;
  height: 40px;
  background: var(--display-color2);
}

/*styling for the advertisement section*/
.video-box {
  display: flex;
  justify-content: center;
}
.advertisement {
  width: 100%;
  max-width: 1200px;
  margin-top: 40px;
}

/*styling for the service bar section*/
.service-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 100px;
  margin-top: 40px;
  width: 100%;
  height: 350px;
  background: var(--display-color2);
}
.icons {
  margin: auto;
}

/*styling for the top brands section*/
.topbrands-header {
  color: var(--text-color1);
  text-align: center;
  margin: 15px;
  border-bottom: 1px solid var(--text-color1);
}
.topbrands-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
  height: 600px;
  background: var(--display-color3);
}
.boxes {
  width: 400px;
  height: 55%;
  background: var(--display-color2);
}
