@import url("https://fonts.googleapis.com/css2?family=Jacquard+12&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedan+SC&display=swap");
:root {
  --display-color1: #1a1a1b;
  --display-color2: #333f44;
  --display-color3: #37aa9c;
  --gradient-color1: #333f44;
  --gradient-color2: #191e20;
  --sub-text-color: #a1a1a1;
  --text-color1: #eeeeee;
}

a {
  color: var(--text-color1);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 0.5em;
  background: var(--display-color2);
}
::-webkit-scrollbar-thumb {
  background: var(--text-color1);
  border-radius: 15px;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background: var(--display-color2);
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  background: linear-gradient(
    96deg,
    var(--display-color2),
    var(--gradient-color2)
  );
  font-family: Poppins, sans-serif;
}

.active {
  color: var(--display-color3);
}

.logo {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 209px;
  margin-right: 130px;
}
.sale-bar {
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 17;
  width: 100%;
  height: 35px;
  background: linear-gradient(
    45deg,
    var(--display-color3),
    var(--display-color2)
  );
  padding-top: 5px;
  text-align: center;
  color: var(--text-color1);
}
.sale-bar {
  animation: marquee 10s linear infinite;
  display: flex;
  width: max-content;
}

.chunk {
  width: var(--chunk-width);
  display: flex;
  font-weight: 700;
  gap: 100px;
}

@keyframes marquee {
  from {
    translate: 0;
  }
  to {
    translate: calc(var(--chunk-width) * -1);
  }
}
.nav-bar {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 16;
  display: flex;
  width: 100%;
  height: 13%;
  max-height: 110px;
  min-width: 400px;
  background: var(--display-color1);
  color: transparent;
  gap: 0px;
  justify-content: flex-start;
  align-items: center;
}
.contact-container {
  position: relative;
  top: 210px;
  width: 100%;
  height: 40%;
  max-height: 920px;
  max-width: 440px;
  min-height: 500px;
  background: var(--gradient-color2);
  border-radius: 5px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 50px;
  margin: auto;
}
.forum {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px;
}
.email-address {
  width: 370px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--sub-text-color);
}
.help {
  width: 100%;
  max-width: 385px;
  min-width: 385px;
  max-height: 600px;
  min-height: 100px;
  border-radius: 5px;
}
.send-btn {
  width: 100%;
  max-width: 392px;
  padding: 13px;
  border-radius: 5px;
  border: 1px solid;
  background-color: var(--display-color3);
  cursor: pointer;
  color: var(--text-color1);
}

.touch {
  letter-spacing: 5px;
}

.header-text2 {
  font-size: 40px;
  font-weight: 600;
  color: var(--text-color1);
}
.para3 {
  font-size: 17px;
  color: var(--sub-text-color);
}
#color {
  color: var(--display-color3);
  cursor: pointer;
}
.display1 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(
    45deg,
    var(--display-color1),
    var(--display-color2)
  );
}

.display-heading {
  color: #000;
  display: flex;
  padding: 30px;
  flex-direction: column;
  letter-spacing: 2.3px;
  margin-left: 15%;
  float: left;
}
.display-content {
  position: relative;
  width: 100%;
  height: 1000px;
  max-width: 1500px;
  min-width: 1000px;
  margin-left: 10%;
}

.display-content img {
  position: absolute;
  top: 60px;
  right: 250px;
  width: min(50vw, 100%);
  max-width: 700px;
  min-width: 400px;
  margin-left: 10%;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}
.head-word {
  font-size: 30px;
  letter-spacing: 10px;
  color: var(--text-color1);
  margin-top: 150px;
  margin-bottom: 35px;
  z-index: 1;
}
.shop-button {
  z-index: 15;
  margin-top: 80px;
  width: 250px;
  padding: 5px;
  border: 1px solid var(--text-color1);
  border-radius: 10px;
  background-color: transparent;
  font-weight: 700;
  cursor: pointer;
  transition: 0.7s;
}
.shop-button:hover {
  background-color: #000000;
  transform: scale(105%);
  border: none;
  margin-bottom: -10px;
  transition: 0.7s;
}

/*styling for the second display on the website*/
.display2-header {
  color: var(--text-color1);
  padding: 10px;
  margin-bottom: 28px;
  text-align: center;
}
.display2 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 550px;
  color: var(--text-color1);
  text-align: center;
  padding: 10px;
}
.bottle-box {
  display: flex;
  justify-content: center;
}
.bottles {
  display: flex;
  width: 100%;
  min-width: 300px;
  max-width: 300px;
  transition: 0.4s;
}
#bottle3 {
  width: 500px;
  transition: 0.5s;
}
.bottles:hover {
  transform: scale(107%);
  transition: 0.4s;
}
.cart-add {
  width: 100%;
  max-width: 150px;
  background: var(--display-color3);
  color: var(--text-color1);
  border-radius: 5px;
  border: none;
  padding: 13px;
  cursor: pointer;
}
.ad-bio {
  padding-top: 60px;
  overflow: hidden;
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 100%;
  height: 250px;
  color: var(--text-color1);
  background: linear-gradient(
    185deg,
    var(--gradient-color1),
    var(--gradient-color2)
  );
}
.wrapper{
  padding:30px;
  margin:auto;
  width: 100%;
  max-width: 150px;
  background: var(--display-color3);
  color: var(--text-color1);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.wrapper2{
position: relative;
  width: 100%;
  height: 1000px;
  max-width: 1500px;
  min-width: 1000px;
  margin-left: 10%;
}
.section3 {
  display: none;
  padding-top: 60px;
  overflow: hidden;
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 100%;
  height: 250px;
  color: var(--text-color1);
  background: linear-gradient(
    185deg,
    var(--gradient-color1),
    var(--gradient-color2)
  );
}
